---
import Layout from "../layouts/Layout.astro";
import NewBlogPosts from "../components/NewBlogPosts.astro";
---
<Layout title="TyrellCurry.io Blog">
    <main>
        <header
            class="text-center text-4xl font-semibold pt-8 dark:bg-slate-900 dark:text-slate-200">
            <h1 class="text-6xl pb-4">
                Welcome to the
                <span class="text-slate-600 dark:text-slate-400">
                    TyrellCurry.io
                </span> blog!
            </h1>
            <p class="pb-2">Built with AstroJS & Tailwind CSS</p>
            <p class="pb-8">Integrating Dev.to API for Blog Posts</p>            
        </header>
        <NewBlogPosts />
    </main>
</Layout>
