---
export interface Props {
    title: string;
}

const { title } = Astro.props;
import DmToggle from '../components/DmToggle.astro';
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="stylesheet" href="/src/styles/main.css">
        <script src="../scripts/dm-load.ts"></script>
        <script src="../scripts/dm.ts"></script>
        <title>{title}</title>
    </head>
    <body class="dark:bg-slate-900">
        <nav class="bg-slate-500 p-4 py-2 flex justify-between items-center">
            <div class="logo">
                <p>Blog</p>
            </div>
            <ul class="flex gap-3">
                <li>
                    <a href="">Home</a>
                </li>
                <li>
                    <a href="">Portfolio</a>
                </li>
                <li>
                    <a href="">Github</a>
                </li>
                <li>
                    <a href="">Linkedin</a>
                </li>
            </ul>
            <DmToggle />
        </nav>
        <slot />
    </body>
</html>
