---
export interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="#" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <script src="../scripts/dm-load.js"></script>
    </head>
    <body class="dark:bg-slate-900">
        <slot />
    </body>
</html>
<style>
    html {
        font-family: system-ui, sans-serif;
    }
    code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
            DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    }
</style>
